*{
    margin: 0;
    padding: 0;
    font-family: Work Sans;
}

/* Header Section */
.banner-content{
    color: #FFF;
    text-align: right;
    /* justify-content: flex-end; */
    padding: 210px 230px 180px 800px;
}
.head{
    font-size: 60px;
    font-weight: 700;
}
.lower{
    margin-top: 24px;
    
}
.btn-primary{
    border: 0;
    border-radius: 5px;
    padding: 15px 15px 14px 15px;
    margin-top: 20px;
    background: #FFF;
}
.contact{
    color: #005FAC;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
}
.banner{
    background-image: url('../images/banner/banner3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
}

/* Main Section */
.failure{
    justify-content: center;
}
.picture{
    padding-top: 200px;
    padding-left: 200px;
    margin-top: 0;
    position: absolute;
}
.failure1{
    padding-top: 500px;
    padding-left: 850px;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}
.failure2{
    margin-top: 24px;
    font-size: 16px;
    padding-left: 850px;
    padding-right: 300px;
    color: #444343; 
}
.failure3{
    margin-top: 16px;
    font-size: 16px;
    padding-left: 880px;
    padding-right: 100px;
    padding-bottom: 100px;
    color: #444343;
}
.failure3 li{
    list-style: none;
    margin-top: 8px;
}

.plan-title{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 40px;
}

.plan-content{
    display: flex;
    justify-content: center;
    gap: 150px;
}

.plan-content-title{
    color: #151414;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.plan-content-sub{
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.icon{
    align-items: center;
}




